[[source]] 
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
requests = "*"
beautifulsoup4 = "*"
google-cloud-storage="*"
phidata = "*"
pandas = "*"
openai = "*"
googlesearch-python = "*"
pycountry = "*"

[requires]
python_version = "3.11"
