[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
user-agent = "*"
requests = "*"
google-cloud-storage = "*"
google-generativeai = "*"
google-cloud-aiplatform = "*"
pandas = "*"
chromadb = "*"
vertexai = "*"
langchain = "*"
langchain-community = "*"
llama-index = "*"

[dev-packages]

[requires]
python_version = "3.11"
